body {
	font-family: 'Roboto', sans-serif;
	font-family: 'Montserrat', sans-serif;
}
/*p {
	color: blue;
	font-weight: 800;
}*/

blockquote {
  border-left: 5px solid #EEE;
  padding: 0 0 0 .7em;
  margin: 0;
}

blockquote p {
    color: #999999;
    font-style: italic;
    font-weight: bold;
    margin: 12px 40px;
}
/*h1 {
	display: inline;
}*/
.highlight {
	color: blue;
	background-color: #DA70D6;
}
.orange {
	background-color: orange;
}
#main-headline {
	color: yellow;
}